<div class="container">
<%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
  <p><i class="fas fa-laptop-house"></i> <%= @user.company %></p>
  <p><i class="fas fa-briefcase"></i> <%= @user.industry %></p>
  <p><i class="fas fa-address-card"></i> <%= @user.job_title %></p>
  <p><i class="fas fa-globe"></i> <%= @user.country %></p>
  <p><i class="fas fa-birthday-cake"></i> <%= @user.age %></p>
  <p><i class="fas fa-jedi"></i> <%= @user.years_exp %></p>
  <p><%= @user.bio %></p>
</div>
