<div class="container">
  <div class="flex-container w-100">
  <!-- affiche en haut de la page les infos sur le user-->
  <!-- dans un encadré à gauche : avatar, nom, company, job title, industry, age, years exp-->
    <%# <div class="container"> %>
    <div class="wrapper left-panel">
      <div class="card-user">
        <div class="information-table">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "avatar-large-profil", alt: "avatar-large-profil"   %>
          <% end %>
          <div class="main-profile-info">
            <h6><%= @user.first_name %> <%= @user.last_name %> | <span><%= @user.age %> yo</span></h6>
            <p><i class="fas fa-globe"></i> <%= @user.country %></p>
            <a href="#"><i class="fab fa-twitter" style="color: #e65c5d"></i></a>
            <a href="#"><i class="fab fa-linkedin" style="color: #e65c5d"></i></a>
          </div>
        </div>
        <div class="user-professional-infos">
          <p><%= @user.job_title %></p>
          <p><i class="fas fa-envelope-open-text"></i><%= @user.company %> (<%= @user.industry %>)</p>
        </div>
      </div>
    </div>

    <div class="wrapper right-panel">
      <div class="user-bio">
        <h3 style="color: rgba(6,3,5,0.6)">Hello, my name is <%= @user.first_name %></h3>
        <p style="color: rgba(6,3,5,0.6)">member since <%= @user.created_at.strftime("%e %^b %Y") %></p>
        <h4 style="color: rgba(6,3,5,0.6);margin-top: 97px;">About <%= @user.first_name %></h4>
        <p style="color: rgba(6,3,5,0.6)"><%= @user.bio %></p>
        <h4 style="color: rgba(6,3,5,0.6)">Hobbies</h4>
        <div class="filters">
          <%@user.hobbies.each do |hobby|%>
            <div class="tags-precision">
              <% hobby_test = Activity::CATEGORIES.select{ |category| category.include?(hobby.name) } %>
              <p class="hobby-user"><%= hobby %> <%= hobby_test[0][1] %><p>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt4 ps-3">Discover what <%= @user.first_name %> has been up to lately on Stork</h2>
  <h3 class="mt4 ps-3"> <%= @user.first_name %> is participating to <%=pluralize(@user.activities.length, "event")%></h3>
  <div class="d-flex justify-content-start">
    <% @user.activities.each do |activity| %>
      <div class="card-user-activities">
        <%= link_to activity_path(activity) do%>
          <div class="pop-activity" style="
            <% if activity.photo.attached? %>
            background-image:linear-gradient(rgba(0, 0, 0, 0), black), url(<%= cl_image_path activity.photo.key %>)
            <% end %>
            ">
              <div class="popular-card-image">
                <div class="img-details">
                  <p class="popular-card-title"><%= activity.name %></p>
                  </div>
                </div>
            <div class="activity-infos">
              <div><i class="far fa-calendar-alt"></i> <%= activity.start_date.strftime("%a %b %e" ) %></div>
              <p class="participants-home"><i class="fas fa-user-friends"></i> <%= activity.users.length %> </p>
            </div>
              <div class="banner-places-left">
                <%= activity.capacity_max - activity.users.length %> places left... Join <%= @user.first_name %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <h3 class="mt-4 ps-3"> <%= @user.first_name %> is hosting <%=pluralize(@activities.length, "event")%></h3>
  <div class="d-flex justify-content-start">
    <% @activities.each do |activity| %>
      <div class="card-user-activities">
        <%= link_to activity_path(activity) do%>
          <div class="pop-activity" style="
            <% if activity.photo.attached? %>
            background-image:linear-gradient(rgba(0, 0, 0, 0), black), url(<%= cl_image_path activity.photo.key %>)
            <% end %>
            ">
              <div class="popular-card-image">
                <div class="img-details">
                  <p class="popular-card-title"><%= activity.name.truncate(25)%></p>
                  </div>
                </div>
            <div class="activity-infos">
              <div><i class="far fa-calendar-alt"></i> <%= activity.start_date.strftime("%a %b %e") %></div>
              <p class="participants-home"><i class="fas fa-user-friends"></i> <%= activity.users.length %> </p>
            </div>
              <div class="banner-places-left">
                <%= activity.capacity_max - activity.users.length %> places left... Join <%= @user.first_name %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
