<div class="container">
  <div class="flex-container w-100">
  <!-- affiche en haut de la page les infos sur le user-->
  <!-- dans un encadré à gauche : avatar, nom, company, job title, industry, age, years exp-->
    <%# <div class="container"> %>
      <div class="wrapper left-panel">
        <div class="card-user">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "avatar-large-profil", alt: "avatar-large-profil"   %>
          <% end %>
          <table class="table" id="information_table">
            <tr>
              <th><i class="fas fa-user"></i></th>
              <td class="user_name"><strong><%= @user.first_name %> <%= @user.last_name %><strong></td>
            </tr>
            <tr>
              <th><i class="fas fa-envelope-open-text"></i></th>
              <td><%= @user.company %></td>
            </tr>
            <tr>
              <th><i class="fas fa-laptop-house"></th>
              <td><%= @user.industry %></td>
            </tr>
            <tr>
              <th><i class="fas fa-address-card"></th>
              <td><%= @user.job_title %></td>
            </tr>
            <tr>
              <th><i class="fas fa-globe"></th>
              <td><%= @user.country %></td>
            </tr>
            <tr>
              <th><i class="fas fa-birthday-cake"></th>
              <td><%= @user.age %></td>
            </tr>
            <tr>
              <th><i class="fas fa-jedi"></th>
              <td><%= @user.years_exp %></td>
            </tr>
          </table>
        </div>
      </div>

    <div class="wrapper right-panel">
      <div class="user-bio">
        <h3><a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i class="fab fa-linkedin"></i></a></h3>
        <h3>Hello, my name is <%= @user.first_name %></h3>
        <p>member since <%= @user.created_at.strftime("%e %^b %Y") %></p>
        <h4>About <%= @user.first_name %></h4>
        <p><%= @user.bio %></p>
        <h4>Hobbies</h4>
            <%@user.hobbies.each do |hobby|%>
              <% hobby_test = Activity::CATEGORIES.select{ |category| category.include?(hobby.name) } %>
              <p><%= hobby %> <%= hobby_test[0][1] %><p>
            <%end%>
      </div>
    </div>
  </div>

  <h2 class="mt4 ps-3">Discover what <%= @user.first_name %> has been up to lately on Stork</h2>
  <h3 class="mt4 ps-3"> <%= @user.first_name %> is participating to <%= @user.activities.length %> events !</h3>
  <div class="d-flex justify-content-start">
    <% @user.activities.each do |activity| %>
      <div class="card-user-activities">
        <%= link_to activity_path(activity) do%>
          <div class="pop-activity" style="
            <% if activity.photo.attached? %>
            background-image:linear-gradient(rgba(0, 0, 0, 0), black), url(<%= cl_image_path activity.photo.key %>)
            <% end %>
            ">
              <div class="popular-card-image">
                <div class="img-details">
                  <p class="popular-card-title"><%= activity.name %></p>
                  </div>
                </div>
            <div class="activity-infos">
              <div><i class="far fa-calendar-alt"></i> <%= activity.start_date.strftime("%a %b %e" ) %></div>
              <p class="participants-home"><i class="fas fa-user-friends"></i> <%= activity.users.length %> </p>
            </div>
              <div class="banner-places-left">
                <%= activity.capacity_max - activity.users.length %> places left... Join <%= @user.first_name %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <h3 class="mt-4 ps-3"> <%= @user.first_name %> is hosting <%= @activities.length %> events !</h3>
  <div class="d-flex justify-content-start">
    <% @activities.each do |activity| %>
      <div class="card-user-activities">
        <%= link_to activity_path(activity) do%>
          <div class="pop-activity" style="
            <% if activity.photo.attached? %>
            background-image:linear-gradient(rgba(0, 0, 0, 0), black), url(<%= cl_image_path activity.photo.key %>)
            <% end %>
            ">
              <div class="popular-card-image">
                <div class="img-details">
                  <p class="popular-card-title"><%= activity.name.truncate(25)%></p>
                  </div>
                </div>
            <div class="activity-infos">
              <div><i class="far fa-calendar-alt"></i> <%= activity.start_date.strftime("%a %b %e") %></div>
              <p class="participants-home"><i class="fas fa-user-friends"></i> <%= activity.users.length %> </p>
            </div>
              <div class="banner-places-left">
                <%= activity.capacity_max - activity.users.length %> places left... Join <%= @user.first_name %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
