  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%="home-navbar" if params[:action]=="home"%>">
    <div class="container-fluid">
      <div class="logo-name">
        <%= link_to "/", class: "navbar-brand" do %>
          <%= image_tag "#{ params[:action]=="home"? 'origami-2.png' : 'origami-black.png'}"%>
        <% end %>
        <%= link_to "/", class: "navbar-brand" do %>
          <p>STORK</p>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Discover", "/activities", class: "nav-link", id: "nav-link-discover" %>
            </li>
            <li class="nav-item">
              <%= link_to "Bookings", "/dashboard", class: "nav-link", id: "nav-link-bookings" %>
            </li>
            <% if current_user.activities.present? %>
              <li class="nav-item">
                <%= link_to "Messages", activity_chatroom_path(current_user.activities.last, current_user.activities.last.chatroom), method: :get, class: "nav-link", id: "nav-link-messages" %>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <%= cl_image_tag current_user.photo.key, crop: :thumb, class: "user-pic dropdown-toggle", data: {bs_toggle: "dropdown"} %>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: "nav-link-logout" %>
            </li>
            <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link-logout" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
