
<div class="banner-general">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.04),rgba(0,0,0,0.04)), url('<%= image_path "home-final.jpg" %>');">
    <div id="header">
            <h1 id="stork_title"><strong>Meet people and enjoy!</strong></h1>
            <p>Develop your network <span data-controller="typed-js"></span></p>
          </div>
    <div class="container">
      <div class="d-flex justify-content-between">
        <div id="search_bar_div">
          <div class="box_for_search_bar" style="width: fit-content">
          <p>Search an activity</p>
            <%= form_tag activities_path, method: :get do %>
              <div class="search_bar">
                <div class= "search-activity" style="width: 400px" data-controller="geocoder" data-geocoder-api-key-value="<%=ENV['MAPBOX_API_KEY']%>" data-geocoder-target="autocomplete">
                  <%= text_field_tag :query,
                    params[:query],
                    data: { geocoder_target: "address" },
                    class: "form-control d-none"
                  %>
                </div>

                <div class= "search-activity-place" style="width: 200px">
                  <%= text_field_tag :start_date,
                    params[:start_date],
                    class: "datepicker form-control",
                    "data-controller": "flatpickr",
                    value: Date.today
                  %>
                </div>
                <div>
                  <%= button_tag(type: "submit", class: "btn btn-gradient") do %>
                  Search
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="container-home">Most popular activities on Stork</h2>
<div class="d-flex justify-content-center">
  <% @activities.each do |activity| %>
    <div class="popular-card-activity">
      <%= link_to activity_path(activity) do%>
        <div class="pop-activity" style="
        <% if activity.photo.attached? %>
        background-image:linear-gradient(rgba(0, 0, 0, 0), black), url(<%= cl_image_path activity.photo.key %>)
        <% end %>
        ">
          <div class="popular-card-image">
            <div class="img-details">
              <p class="popular-card-title"><%= activity.name %></p>
              <p class="participants-home"><i class="fas fa-user-friends"></i> <%= activity.users.length %> </p>
              </div>
            </div>
        <div class="activity-infos">
          <i class="far fa-calendar-alt"></i> <%= activity.start_date.strftime("%A %B %e") %>
        </div>

          <div class="banner-places-left">
            <%= activity.capacity_max - activity.users.length %> places left... Register now !
        </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
