<!-- affiche une liste de tags à sélectionner-->
<div class="container">


  <div class="title">
    <h1><%= @title %></h1>
  </div>

  <div class="wrapper-tags">

    <%= form_tag activities_path, method: :get, data: { controller: "auto-submit geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] }   do %>
    <div class="form-index">
      <div class= "btn btn-filter" style="width: 400px" data-geocoder-target="autocomplete" >
        <%= text_field_tag :query,
          params[:query],
          data: { geocoder_target: "address", action: "change->auto-submit#submit" },
          class: "form-control d-none"
        %>
      </div>

      <div class= "btn btn-filter" style="width: 200px">
        <%= text_field_tag :start_date,
          params[:start_date],
          class: "datepicker form-control",
          "data-controller": "flatpickr",
          value: Date.today,
          data: { action: "change->auto-submit#submit" }
        %>
      </div>
    </div>

    <div class="filters">
      <% Activity::CATEGORIES.each do |category| %>
        <span class="tags-precision">
          <% filter_tags = params[:categories].present? ? params[:categories] : @user_hobbies %>
          <%= check_box_tag "categories[]", category[0], filter_tags.include?(category[0]), id: category[0], data: { action: "change->auto-submit#submit" } %>
          <%= label_tag category[0], "#{category[0].capitalize} #{category[1]}" %>
        </span>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="flex-container"
     data-controller="mapbox"
     data-mapbox-markers-value="<%= @markers.to_json %>"
     data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <!-- affiche les résultats d'activity cards correspondant à la recherche-->
  <div class="container flex-item"
       style="width: 50vw;">
    <div class="wrapper">
      <% @activities.each do |activity| %>
          <div class="card-activity"
               id = "activity_<%= activity.id %>"
               data-action="mouseenter->mapbox#openPopup">
            <%= link_to activity_path(activity) do%>
            <% if activity.photo.attached? %>
              <div class="activity-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path activity.photo.key %>);">
                <p><i class="fas fa-map-marked-alt"></i> <%= activity.place %></p>
              </div>
            <% end %>
            <div class="card-body">
              <div class="wrapper">
                <h5 class="card-title"><%= activity.name.truncate(20) %></h5>
                <div class="calendar">
                  <div class="calendar-top"> <%= activity.start_date.strftime("%b") %></div>
                  <div class="calendar-bottom"><%= activity.start_date.strftime("%-d") %></div>
                </div>
              </div>
              <p class="card-text"><%= activity.description.truncate(100) %></p>
              <div class="users-avatar">
                <% activity.users.first(5).each do |user| %>

                   <%= cl_image_tag user.photo.key, crop: :thumb, class: "avatar", alt: "avatar"  %>
                <% end %>
              </div>
              <%= link_to "See More", activity_path(activity), class: "btn btn-gradient" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- carte Mapbox-->
  <div class="flex-item" style="width: 50vw; height: 100vh;"
    data-mapbox-target="map">
  </div>
</div>
