<div class="flex-container">
  <!-- affiche les résultats d'activity cards correspondant à la recherche-->
  <div class="container flex-item">
    <h1><%= @title %></h1>
    <div class="wrapper">
      <% @activities.each do |activity| %>
          <div class="card-activity">
            <%= link_to activity_path(activity) do%>
            <% if activity.photo.attached? %>
              <div class="activity-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path activity.photo.key %>);">
                <p><i class="fas fa-map-marked-alt"></i> <%= activity.place %></p>
              </div>
            <% end %>
            <div class="card-body">
              <div class="wrapper">
                <h5 class="card-title"><%= activity.name.truncate(20) %></h5>
                <div class="calendar">
                  <div class="calendar-top"> <%= activity.start_date.strftime("%b") %></div>
                  <div class="calendar-bottom"><%= activity.start_date.strftime("%-d") %></div>
                </div>
              </div>
              <p class="card-text"><%= activity.description.truncate(100) %></p>
              <div class="users-avatar">
                <% activity.users.first(5).each do |user| %>

                   <%= cl_image_tag user.photo.key, crop: :thumb, class: "avatar", alt: "avatar"  %>
                <% end %>
              </div>
              <%= link_to "See More", activity_path(activity), class: "btn btn-gradient" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- carte Mapbox-->
  <div class="flex-item" style="width: 100%; height: 875px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
