<div class="banner-show">
  <div class="blurry-background" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(<%= cl_image_path @activity.photo.key %>)">
  </div>
  <div class="container">
    <div class="activity-main-infos" >
      <h3><%= @activity.name %></h3>
      <div class="date"><i class="far fa-calendar-alt"></i>
      <%= @activity.start_date.strftime("%A %B %e") %></div>
      <p><i class="fas fa-clock"></i>
      <%= @activity.start_date.strftime("%R %:z" " " "UTC") %><p>
    </div>
    <div class="activity-show-header">
      <div class="photo">
        <% if @activity.photo.attached? %>
          <%= cl_image_tag @activity.photo.key  %>
        <% end %>
      </div>
      <div class="hosting">
        <div class="hosting-infos">
          <h3>Hosted by</h3>
          <%= link_to user_path(@activity.owner_id) do %>
          <%= cl_image_tag @activity.owner.photo.key, class: "avatar-show-large", alt: "avatar-show-large" %>
          <% end %>
          <div class="name"><%= @activity.owner.first_name %> <%= @activity.owner.last_name %></div>
          <div class="owner">
            <p><i class="fas fa-laptop-house"></i> <%= @activity.owner.company %></p>
            <p><i class="fas fa-briefcase"></i> <%= @activity.owner.industry %></p>
            <p><i class="fas fa-address-card"></i> <%= @activity.owner.job_title %></p>
            <p><i class="fas fa-globe"></i> <%= @activity.owner.country %></p>
          </div>
        </div>
        <div class="hosting-btn" data-controller="sweetalert">
          <%if @activity.users.include?(current_user) %>
            <p id="already_in">You're already in!</p>
            <%= link_to "Find Another Activity", activities_path, class: "btn btn-gradient" %>
            <p><%= link_to "Cancel Booking",activity_booking_path(@activity, @booking_exist), method: :delete, class: "btn btn-ghost" unless current_user == @activity.owner %></p>
          <% elsif policy(@activity).create? && @all_participants.count < @activity.capacity_max %>
            <% unless current_user == @activity.owner  %>
              <button id="registration" class="btn btn-gradient">Count me in!</button>
              <%= link_to "", activity_bookings_path(@activity), method: :post, class: "hidden registration_hidden_btn" %>
            <% end %>
          <% else %>
            <p id="sorry_full">Sorry, Activity full!</p>
            <%= link_to "Find Another Activity", activities_path, class: "btn btn-gradient" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="show_bottom_page">
    <div class="activity-description">
    <div class="place"><i class="fas fa-map-marked-alt"></i> <%= @activity.place %></div>
    <p><%= @activity.description %></p>
    <h3><%=pluralize(@all_participants.count, "registered participant")%> for this event  (Max <%= @activity.capacity_max%>) </h3>
    </div>
    <div class="card-participants">
      <% @all_participants.each do |user| %>
        <div class="card-participants-infos">
        <%= link_to user_path(user) do %>
          <%= cl_image_tag user.photo.key, class: "avatar-show", alt: "avatar-show" %>
        <% end %>
          <h2><%= user.first_name %> <%= user.last_name %></h2>
          <p><i class="fas fa-laptop-house"> </i><%= user.company %></p>
        </div>
      <% end %>
    </div>
    <div class="map-show">
      <div class="map-show-details">
        <p>Place Details</p>
          <!-- carte Mapbox-->
        <div class="flex-item" style="width: 100%; height: 400px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <div class="chat-show">
        <p>Chat with <%= @activity.owner.first_name %></p>
        <%= image_tag "chat.PNG" %>
      </div>
    </div>
  </div>
</div>
