<div class="container mt-3">
  <div class="d-flex">
    <div class="card-owner-infos-wrapper" style="border-radius: 5px">
      <div class="card-owner-infos m-5">
        <%= link_to user_path(@activity.owner_id) do %>
          <%= cl_image_tag @activity.owner.photo.key, class: "avatar-show-large", alt: "avatar-show-large" %>
        <% end %>
        <div class="card-owner-infos-bio mt-3">
          <h3 style="margin-top: 16px">About <%= @activity.owner.first_name %> <%= @activity.owner.last_name %> </h3>
          <p style="margin-top: 20px"><%= @activity.owner.bio %></p>
        </div>

        <div >
            <p class="card-owner-infos-details" style="margin-top: 40px"><i class="fas fa-laptop-house" style="padding-right: 16px;"></i> <%=@activity.owner.company %></p>
            <p class="card-owner-infos-details"><i class="fas fa-briefcase" style="padding-right: 16px;"></i> <%=@activity.owner.industry %></p>
            <p class="card-owner-infos-details"><i class="fas fa-address-card" style="padding-right: 16px;"></i> <%=@activity.owner.job_title %></p>
            <p class="card-owner-infos-details"><i class="fas fa-globe" style="padding-right: 16px;"></i> <%=@activity.owner.country %></p>
        </div>

        <div class="d-flex justify-content-between" style="margin-top: 82px">
          <div class="card-owner-infos-past">
            <p>Participated 🚀</p>
            <strong><%= @activity.owner.activities.length  %></strong>
          </div>
          <div class="card-owner-infos-past">
            <p>Organized 🚀</p>
            <strong><%= @activities.length %></strong>
          </div>
        </div>
      </div>
      <div>
        <%= link_to user_path(@activity.owner) do %>
          <p class="me-4 text-end view-profile"><i class="far fa-eye"></i> View <%= @activity.owner.first_name %>'s full profile</p>
        <% end %>
      </div>
    </div>





    <div class="card-activity-description-wrapper">
      <div class="card-activity-description" style="border-radius: 5px">
        <img src="<%= cl_image_path @activity.photo.key %>" style="height: 55%" />
        <div class="d-flex flex-column">
          <div class="card-activity-description-infos">
            <div>
              <h2 id='activity-name'><%= @activity.name %></h2>
              <p class="mt-2"><%= @activity.description %></p>
              <div class="d-flex" style="justify-content: space-between;">
                <div class="card-activity-description-date me-4 d-flex" style="width: 50%; padding-inline: 24px; justify-content: space-between">
                  <div>
                    <i class="far fa-calendar-alt"></i>
                    <span id="activity-date"><%= @activity.start_date.strftime("%A %B %e") %></span>
                  </div>
                  <div>
                    <i class="fas fa-clock"></i>
                    <span id="activity-date"><%= @activity.start_date.strftime("%H:%M") %></span>
                  </div>
                </div>
                <div class="card-activity-description-date" style="padding-inline: 24px"><i class="fas fa-map-marked-alt"></i>
                  <%= @activity.place %>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-5 me-3">
                <div class="hosting-btn" data-controller="sweetalert">
                  <%if @activity.users.include?(current_user) %>
                    <p id="already_in">You are registered for this activity!</p>
                    <div class="d-flex justify-content-center">
                      <div>
                        <div id="find-other-activity"><%= link_to "Find Another Activity", activities_path, id:"find-other-activity" %></div>
                        <p><button id="sweet-cancel">Cancel your booking</button></p>
                      </div>
                    </div>
                    <%= link_to "Cancel Booking",activity_booking_path(@activity, @booking_exist), method: :delete, class: "hidden cancel-btn" unless current_user == @activity.owner %>
                  <% elsif policy(@activity).create? && @all_participants.count < @activity.capacity_max %>
                    <% unless current_user == @activity.owner  %>
                      <div id="registration">Count me in!</div>
                      <%= link_to "", activity_bookings_path(@activity), method: :post, class: "hidden registration_hidden_btn" %>
                    <% end %>
                  <% else %>
                    <p id="sorry_full">Sorry, Activity full!</p>
                    <%= link_to "Find Another Activity", activities_path, class: "btn btn-gradient" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>




<div class="container mt-4">
  <div class="show_bottom_page">
    <h3><%=pluralize(@all_participants.count, "registered participant")%> for this event  (Max <%= @activity.capacity_max%>) </h3>
    </div>
    <div data-controller="scroll">
      <div class="card-participants">
        <% @all_participants.first(6).each do |user| %>
          <div class="card-participants-infos">
          <%= link_to user_path(user) do %>
            <%= cl_image_tag user.photo.key, class: "avatar-show", alt: "avatar-show" %>
          <% end %>
            <h2><%= user.first_name %> <%= user.last_name %></h2>
            <p><i class="fas fa-laptop-house"> </i><%= user.company %></p>
          </div>
        <% end %>
      </div>
      <% if @all_participants.length > 6%>
        <div class="left-participants left-participants-hidden" data-scroll-target="listhide">
          <div class="left-participants-info">
            <% @all_participants.last(@all_participants.length - 6).each do |user| %>
              <div class="card-participants-infos">
                <%= link_to user_path(user) do %>
                  <%= cl_image_tag user.photo.key, class: "avatar-show", alt: "avatar-show" %>
                <% end %>
                <h2><%= user.first_name %> <%= user.last_name %></h2>
                <p><i class="fas fa-laptop-house"> </i><%= user.company %></p>
              </div>
            <% end %>
          </div>
        </div>
        <button id="more" data-scroll-target="test" data-action="click->scroll#toggleList"> View More </button>
      <% end %>
    </div>
  </div>
</div>
