<h1> Show Activity </h1>

<div class="container">

  <div class="activity-show-header">
    <h2> Happening <%= @activity.start_date %> </h2>
    <%= @activity.owner.photo %>
    organized by <p><%= @activity.owner.first_name %> <%= @activity.owner.last_name %> </p>
    <p> <%= @activity.owner.company %></p>
    <p> <%= @activity.owner.industry %></p>
    <p> <%= @activity.owner.job_title %></p>
  </div>
  <div class="activity-description">
    <p><%= @activity.name %>></p>
    <p><%= @activity.description %>></p>
    <p><%= @activity.address %>></p>
    <p><%= 1 km distance from you %>></p>
    <%= simple_form_for (@activity), remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Write a message to #{@activity.owner}" %>
      <%= f.submit class: "btn-send"%>
    <% end %>
  </div>
  <div class="photo">
    <% if @activity.photo.attached? %>
      <%= cl_image_tag @activities.photo.key, height: 300, width: 400, crop: :fill  %>
    <%end%>
  </div>
  <div class="participants">
    <p><%=pluralize(@users.count, registered participant for this event) %> Max <%= @activity.capacity_max%> </p>
    <%= link_to "Count me in!", activity_path(@activity) %>
    <% @users.each do |user| %>
      <%= cl_image_tag user.photo.key, width: "200px", height: "200px"%>
      <p><%= user.first_name %> <%= user.last_name %></p>
      <p> <%= user.company %></p>
      <p> <%= user.job_title %></p>
    <%end%>
  </div>
</div>
